body{
    padding: 0;
    margin: 0;
}

.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 430px;
    background-color: rgb(14, 190, 67);
    border-radius: 20px;
    justify-content: center;
    display: flex;
}

#myInput{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 50px;    
    border-radius: 10px;
    border: 5px solid #00ff08;
    outline: none;
    justify-content: center;
    font-size: 20px;
}

#myInput:hover{
    border-color: rgb(13, 255, 203);
}

.content{
    position: absolute;
    top: -20%;
    left: 50%;
    width: 230px;
    height: 400px;
    transform: translate(-50%, 50%);
}

.btn{
    margin-top: 1%;
    width: 54.4px;
    height: 54.4px;
    outline: none;
    background-color: #5EDB0D;
    border-radius: 20px;
    border: 5px solid #00ff08;
    font-size: 35px;

}

.btn:hover{
    background-color: rgb(137, 255, 27);
}

.btn-equal{
    width: 230px;
}